.project-section {
    margin-top: 100px;
}

.project-name {
    font-size: 60px;
    color: #6A82FB;
    margin-bottom: 30px;
}

.project-txt {
    margin-right: 300px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.stacks {
    display: flex;
}

.stack {
    margin-right: 100px;
    margin-top: 20px;
}

.stack-title {
    margin: 12px 0;
    color: #6A82FB;
    font-size: 20px;
}

.stack-explanation > p{
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

p > .stack-link {
    text-decoration: none;
    color: #FC5C7D;
}

p > .stack-link:hover {
    text-decoration-line: underline;
}

p > .stack-link:active {
    text-decoration: underline;
}

.project-img {
    margin-top: 100px;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.purpose {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #6A82FB;
}


.card-links {
    margin-top: 80px;
}

.next {
    margin-right: 20px;
}